/* Common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    color: #32495b;
}

.i-b {
    display: inline-block;
}

.uppercase {
    text-transform: uppercase;
}

.float {
    float: left;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 75%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #32495b;
}

h2 {
    margin-bottom: 30px;
    font-size: 45px;
}
h3 {
    margin-bottom: 30px;
    font-size: 25px;
}

li {
    list-style: none;
}

.description {
    font-size: 20px;
    margin-bottom: 40px;
}

.link {
    color: #32495b;
}

.orange-check-list span {
    width: 16px;
    height: 16px;
    margin-right: 16px;
    display: inline-block;
    line-height: 16px;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    background-color: #fe775a;
    border-radius: 50%;
}

.grey-bkg {
    background-color: #f4f9fd;
    color: #32495b;
}

.btn {
    margin: 20px 0;
    padding: 8px 10px;
    border: 1px solid #fe775a;
    border-radius: 5px;
    text-align: center;
    background-color: #fe775a;
    color: #ffffff;
}
.large-btn {
    padding: 20px;
}
/* --Common */

/* Top bar */
.top {
    padding: 20px 0;
    width: 49%;
}

#contacts {
    border-left: 1px solid;
    padding-left: 10px;
}

.arrow {
    display: inline-block;
    font-size: 30px;
}

.top-right {
    width: 50%;
    text-align: right;
}
.login-btn {
    margin: 20px;
    color: #fe775a;
    background-color: #f4f9fd;
}
#search-icon {
    height: 20px;
    vertical-align: middle;
}
/* --Top bar */

/* Sticky nav */
nav {
    height: 80px;
    line-height: 80px;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 2;
}

.hub-logo {
    width: 50%;
}
.hub-logo > img {
    vertical-align: middle;
}

.nav-voices {
    width: 49%;
    text-align: right;
}
.nav-voices li {
    margin-left: 20px;
}
/* --Sticky nav */

/* Jumbotron */
.jumbo {
    position: relative;
    height: 695px;
    background-color: #fff4ef;
    background-image: url(../img/jumbotron.png);
    background-position: bottom right;
    background-repeat: no-repeat;
}
.jumbo > .container {
    padding-right: 45%;
}
.jumbo h1 {
    line-height: 0.9em;
    padding-top: 80px;
    margin-bottom: 30px;
    font-size: 60px;
}

.jumbo .btn {
    margin: 0 0 40px 0;
}
.jumbo-bottom {
    height: 86px;
    width: 100%;
    position: absolute;
    bottom: 1px;
    border-top: 3px solid #32495b;
    border-bottom: 3px solid #32495b;
    background-color: #afebe4;
}
/* --Jumbotron */


.main-top h4 {
    margin: 40px 0;
}

/* Cubes */
.cubes {
    padding: 3% 20%;
    text-align: center;
}
.cubes > img {
    height: 200px;
}
/* --Cubes */

/* Frames */
.frame {
    margin-bottom: 50px;
    border: 1px solid #E7ECF2;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 3px #E7ECF2;
    background-color: #ffffff;
    text-align: center;
}
.frame img {
    height: 100px;
    margin: 30px 0;
}

.top-frame {
    padding: 4% 10%;
    text-align: left;
}

.top-frame .description {
    margin-bottom: 0;
}
.top-frame_description {
    padding: 0 300px;
}

.top-frame_feature {
    padding-left: 300px;
}
.top-frame_feature hr {
    width: 70%;
    margin-left: 5%;
    vertical-align: middle;
}
.top-frame_feature .i-b {
    padding-right: 4%;
}

.column {
    width: calc(33% - 60px);
    padding: 3%;
}
.column .orange-check-list {
    text-align: left;
}

.center-column {
    margin: 0 97px;
}
/* --Frames */

.main-center {
    padding: 4% 0;
    text-align: center;
    background-image: linear-gradient(to right, #00a9b9 , #00bba7);
    color: #ffffff;
}

/* Gradient background table */
.main-center table {
    width: 100%;
}

.main-center td {
    padding: 30px;
}

.right-and-bottom-border {
    border-right: 1px solid;
    border-bottom: 1px solid;
}
.right-border {
    border-right: 1px solid;
}
#bottom-border {
    border-bottom: 1px solid;
}
/* --Gradient background table */

/* Testimonials */
.sponsors{
    width: 85%;
    margin: 4% auto;
}
.sponsors img:not(.little-sponsor-img) {
    height: 20px;
}
.sponsors-left {
    width: 25%;
    margin-bottom: 3%;
}
.sponsors-right {
    width: 75%;
    padding: 0 15%;
}
.sponsors-right td {
    padding: 3%;
}

.little-sponsor-img {
    height: 50px;
}

.main-bottom-left {
    width: 45%;
    margin-bottom: 5%;
}
.main-bottom-left .btn {
    width: 30%;
    margin: 8% 0;
}
.main-bottom-left .little-text {
    font-size: 14px;
}

.main-bottom-right {
    float: right;
}
.main-bottom-right img {
    height: 400px;
}
/* --Testimonials */

footer {
    padding: 3% 0 0 0;
    background-color: #32495b;
}

/* Useful links */
footer .float {
    width: 25%;
}

footer h4 {
    color: #ffffff;
}

footer a {
    line-height: 2.5em;
    font-weight: 600;
    color: #cbd6e2;
    margin-right: 20px;
}

footer i {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    color: #cbd6e2;
}

#footer-btn {
    border: 1px solid #ffffff;
    padding: 0 5px;
    font-weight: 300;
    font-size: 14px;
    background-color: #cbd6e2;
    color: #32495b;
}
/* Useful links */

/* Languages */
.footer-languages {
    padding-bottom: 1%;
    text-align: center;
}
/* --Languages */

footer hr {
    color: #cbd6e2;
}

/* Credits & privacy */
.footer-bottom {
    padding: 2% 0;
    line-height: 30px;
}

#logo-and-credits {
    line-height: 30px;
    vertical-align: middle;
}

#legal-and-privacy {
    width: 80%;
    text-align: right;
    line-height: 30px;
    vertical-align: top;
}
/* --Credits & privacy */