/* Common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    color: #32495b;
}

a {
    text-decoration: none;
}

.link {
    color: #32495b;
}
.i-b {
    display: inline-block;
}

.container {
    width: 90%;
    /* line-height: 20px; */
    margin: 0 auto;
}

.stripe {
    padding: 30px 0;
}

.bluish-bkg {
    background-color: #f4f9fd;
    color: #32495b;
}

.top {
    width: 40%;
}

.btn {
    border: 1px solid #fe775a;
    border-radius: 5px;
    background-color: #fe775a;
    color: #ffffff;
}
.grey-btn {
    color: #fe775a;
    background-color: #f4f9fd;
}
.top-right .btn {
    margin-left: 20px;
    padding: 9px 7px;
}
/* --Common */

.top-left div:first-child {
    border-right: 1px solid;
    padding-right: 10px;
    margin-right: 10px;
}


.top-right {
    width: 50%;
    text-align: right;
}
#search-icon {
    height: 20px;
    vertical-align: middle;
}

nav {
    padding: 30px 0;
    line-height: 120px;
}

.hub-logo {
    width: 40%;
}
.hub-logo > img {
    vertical-align: middle;
}

.nav-voices {
    width: 49%;
    text-align: right;
}
.nav-voices li {
    margin-left: 20px;
}

.jumbo {
    position: relative;
    height: 695px;
    background-color: #fff4ef;
    background-image: url(../img/jumbotron.png);
    background-position: bottom right;
    background-repeat: no-repeat;
}
.jumbo > .container {
    padding-right: 45%;
}
.jumbo h1 {
    line-height: 0.9em;
    padding-top: 80px;
    margin-bottom: 30px;
    font-size: 80px;
}
.jumbo p {
    font-size: 20px;
    margin-bottom: 40px;
}

.j-btn {
    padding: 20px;
}
.jumbo .j-btn {
    margin-bottom: 40px;
}

.jumbo-btm {
    height: 86px;
    width: 100%;
    position: absolute;
    bottom: 1px;
    border-top: 3px solid #32495b;
    border-bottom: 3px solid #32495b;
    background-color: #afebe4;
}
.jumbo span {
    text-transform: uppercase;
}